body {
}
p.multipleControls input
{
    margin-right: 5px;
}

p.multipleControls select
{
    margin: 0 6px;
}
#marketDateContainer label
{
    float: left;
    padding: 2px 3px 0px 3px;
	color: #333;
}

#marketDateContainer .alignedLabel
{
    float: left;
    width: 145px;
    text-align: right;
	font-weight:bold;
}

#marketDateContainer select
{
    float: left;
    font-size: 11px;
	color: #333;
	margin-left: 3px;
}
.wSml1s
{
    width: 40px;
    margin: 0 6px 0 4px;
}
.wLrg2s
{
    width: 80px;
    margin: 0px 5px 0px 0px;
}
/* Main Style Sheet for jQuery UI date picker */
#datepicker_div, .datepicker_inline
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    background: #ddd;
    width: 187px;
}
#datepicker_div
{
    display: none;
    border: 1px solid #777;
    z-index: 9999; /*must have*/
    width: 187px;
}
.datepicker_inline
{
    float: left;
    display: block;
    border: 0;
}
.datepicker_rtl
{
    direction: rtl;
}
.datepicker_dialog
{
    padding: 5px !important;
    border: 4px ridge #ddd !important;
}
button.datepicker_trigger
{
    width: 25px;
}

.datepicker_prompt
{
    float: left;
    padding: 2px;
    background: #ddd;
    color: #000;
}
* html .datepicker_prompt
{
    width: 185px;
}
.datepicker_control, .datepicker_links, .datepicker_header, .datepicker
{
    clear: both;
    float: left;
    width: 187px;
    color: #666;
    margin: 0;
    padding: 0;
}
.datepicker_control
{
    display: none;
	background: #CC0000;
    padding: 2px 0px;
}
.datepicker_links
{
    background: #cc0000;
    padding: 2px 0px;
}
.datepicker_control, .datepicker_links
{
    font-weight: bold;
	font-size: 12px;
}
.datepicker_links label
{
    /* disabled links */
    padding: 2px 5px;
    color: #888;
}
.datepicker_clear, .datepicker_prev
{
    float: left;
    width: 34%;
}
.datepicker_rtl .datepicker_clear, .datepicker_rtl .datepicker_prev
{
    float: right;
    text-align: right;
}
.datepicker_current
{
    float: left;
    width: 30%;
    text-align: center;
}
.datepicker_close, .datepicker_next
{
    float: right;
    width: 34%;
    text-align: right;
}
.datepicker_rtl .datepicker_close, .datepicker_rtl .datepicker_next
{
    float: left;
    text-align: left;
}
.datepicker_close 
{
	background: url(../../../../images/AKBase/close_button_icon2.gif);
	cursor: pointer;
	width: 11px;
	margin: 1px 3px 0 0;
}
.datepicker_header
{
    padding: 0;
    background: #626262;
    text-align: center;
    font-weight: bold;
    height: 1.3em;
	padding-top: 2px;
}
.datepicker_header select
{
    background: #626262;
    color: #fff;
    border: 0px;
    font-weight: bold;
}
.datepicker
{
    background: #ccc;
    text-align: center;
    font-size: 100%;
    position: relative;
}
.datepicker a
{
    display: block;
    width: 100%;
}
.datepicker_titleRow
{
    background: #dedede;
	font-size: 11px;
	color: #666;
}
.datepicker_daysRow
{
    background: #fff;
    color: #666;
	font-size: 11px;
}
.datepicker_weekCol
{
    background: #777;
    color: #fff;
}
.datepicker_daysCell
{
    border: 1px solid #ddd;
	padding: 3px 0;
}
.datepicker_daysCell a
{
    display: block;
}
.datepicker_weekEndCell
{
    background: #f5f5f5;
}
.datepicker_titleRow .datepicker_weekEndCell
{
    background: #cfcece;
}
.datepicker_daysCellOver
{
    background: #ffcccc;
	color: #cc0000;
    border: 1px solid #777;
}
.datepicker_unselectable
{
    color: #ccc;
	font-size: 12px;
}
.datepicker_today
{
    background: #fff !important;
	color: #cc0000;
}
.datepicker_currentDay
{
    background: #ffcccc !important;
}
.datepicker_status
{
    background: #ddd;
    width: 100%;
    font-size: 80%;
    text-align: center;
}

/*Datepicker Links Reset link properties and then override them with !important */
#datepicker_div a, .datepicker_inline a
{
    font-size: 12px;
	cursor: pointer;
    margin: 0;
    background: none;
}
.datepicker_inline .datepicker_links a
{
    padding: 0 5px !important;
}
.datepicker_control a, .datepicker_links a
{
    padding: 2px 5px !important;
    color: #fff !important;
}
.datepicker_titleRow a
{
    color: #eee !important;
}
.datepicker_control a:hover
{
    background: #fdd !important;
    color: #333 !important;
}
.datepicker_links a:hover, .datepicker_titleRow a:hover
{
    background: #ddd !important;
    color: #333 !important;
}

/*Multiple Months*/

.datepicker_multi .datepicker
{
    border: 1px solid #777;
}
.datepicker_oneMonth
{
    float: left;
    width: 185px;
}
.datepicker_newRow
{
    clear: left;
}

/*IE6 IFrame Fix*/

.datepicker_cover
{
    display: none; /*sorry for IE5*/
    display: /**/ block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 240px; /*must have*/
}
