<h3>LF DISCOUNT SETTINGS</h3>
<div style="border-radius: 25px;padding: 20px;background:white;">
    <!-- ******************************************************** -->
    <dx-data-grid
    id="gridContainer"
    [rowAlternationEnabled]="true"
    [showColumnLines]="false"
    [showRowLines]="true"
    [showBorders]="false"
    [allowColumnResizing]="true"
    [hoverStateEnabled]="true"
    [columnResizingMode]="nextColumn"
    [columnAutoWidth]="true"
    [dataSource]="group">
    
      <dxo-search-panel 
        [visible]="true" 
        [width]="240" 
        placeholder="Search..."></dxo-search-panel>
  
      <dxi-column dataField="analyst" caption="Analyst"></dxi-column>
      <dxi-column dataField="marketCode" caption="Market"></dxi-column>
      <dxi-column dataField="ndoDesc" caption="NDO"></dxi-column>
      <dxi-column dataField="inRoute" caption="In Route"></dxi-column>
      <dxi-column dataField="inLFDisc1" caption="In LF>=10%"></dxi-column>
      <dxi-column dataField="inLFDisc2" caption="In 5%<=LF<10%"></dxi-column>
      <dxi-column dataField="inLFDisc3" caption="In -5%<=LF<5%"></dxi-column>
      <dxi-column dataField="inLFDisc4" caption="In -10%<=LF<-5%"></dxi-column>
      <dxi-column dataField="inLFDisc5" caption="In -15%<=LF<-10%"></dxi-column>
      <dxi-column dataField="inLFDisc6" caption="In -20%<=LF<-15%"></dxi-column>
      <dxi-column dataField="inLFDisc7" caption="In -25%<=LF<-20%"></dxi-column>
      <dxi-column dataField="inLFDisc8" caption="In -30%<=LF<-25%"></dxi-column>
      <dxi-column dataField="inLFDisc9" caption="In -30%<=LF<-20%"></dxi-column>
      <dxi-column dataField="inLFDisc10" caption="In LF<-30%"></dxi-column>
      <dxi-column dataField="outRoute" caption="Out Route"></dxi-column>
      <dxi-column dataField="outLFDisc1" caption="Out LF>=10%"></dxi-column>
      <dxi-column dataField="outLFDisc2" caption="Out 5%<=LF<10%"></dxi-column>
      <dxi-column dataField="outLFDisc3" caption="Out -5% =LF<5%"></dxi-column>
      <dxi-column dataField="outLFDisc4" caption="Out -10%<=LF<-5%"></dxi-column>
      <dxi-column dataField="outLFDisc5" caption="Out -15%<=LF<-10%"></dxi-column>
      <dxi-column dataField="outLFDisc6" caption="Out -20%<=LF<-15%"></dxi-column>
      <dxi-column dataField="outLFDisc7" caption="Out -25%<=LF<-20%"></dxi-column>
      <dxi-column dataField="outLFDisc8" caption="Out 30%<=LF<-25%"></dxi-column>
      <dxi-column dataField="outLFDisc9" caption="Out -30%<=LF<-20%"></dxi-column>
      <dxi-column dataField="outLFDisc10" caption="Out LF<-30%"></dxi-column>

      <dxo-paging [pageSize]="20"></dxo-paging>
      <dxo-pager 
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[5, 10, 20]"
        [showInfo]="true">
      </dxo-pager>
    </dx-data-grid>
    <!-- ******************************************************** -->
    <br>
    <br>
    <span class="btn bg-pink waves-effect btn-file">
      Browse
      <input type="file" id="file" multiple="false" name="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
          (change)="onExcelChange($event)">
    </span>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th *ngFor="let head of excelToUploadHeader">
                    {{head}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of pendingRecv" [ngStyle]="row.hasError && {'background-color': '#FFEBEE'}">
                <td>{{row.marketCode}}</td>
                <td>{{row.analyst}}</td>
                <td>{{row.ndoDesc}}</td>
                <td>{{row.inRoute}}</td>
                <td>{{row.inLFDisc1}}</td>
                <td>{{row.inLFDisc2}}</td>
                <td>{{row.inLFDisc3}}</td>
                <td>{{row.inLFDisc4}}</td>
                <td>{{row.inLFDisc5}}</td>
                <td>{{row.inLFDisc6}}</td>
                <td>{{row.inLFDisc7}}</td>
                <td>{{row.inLFDisc8}}</td>
                <td>{{row.inLFDisc9}}</td>
                <td>{{row.inLFDisc10}}</td>
                <td>{{row.outRoute}}</td>
                <td>{{row.outLFDisc1}}</td>
                <td>{{row.outLFDisc2}}</td>
                <td>{{row.outLFDisc3}}</td>
                <td>{{row.outLFDisc4}}</td>
                <td>{{row.outLFDisc5}}</td>
                <td>{{row.outLFDisc6}}</td>
                <td>{{row.outLFDisc7}}</td>
                <td>{{row.outLFDisc8}}</td>
                <td>{{row.outLFDisc9}}</td>
                <td>{{row.outLFDisc10}}</td>
                <!-- <td *ngFor="let val of row">
                    {{val}}
                </td> -->
            </tr>
        </tbody>
    </table>

    <button type="button" class="btn btn-success waves-effect" (click)="uploadFileToActivity()">
        <span>Upload</span>
    </button>
    <button type="button" class="btn btn-success waves-effect" (click)="clearExcelData()">
        <span>Clear</span>
    </button>
  <!-- <div id="events">
    <div>
        <div class="caption">
            Fired events
        </div>
        <dx-button id="clear" text="Clear" (onClick)="clearEvents()"></dx-button>
    </div>
    <ul>
        <li *ngFor="let event of events">{{event}}</li>
    </ul>
  </div> -->
</div>
