<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2>
                    RESTRICTION SETTING
                </h2>
            </div>
            <div class="body table-responsive">
                <table class="table table-hover table-striped">
                    <tbody>
                        <tr>
                            <td>{{l('Restriction')}}</td>
                            <td colspan="4"><mat-checkbox color="primary" formControlName="chkRestriction"></mat-checkbox>
                                <label for="active">Active</label>
                            </td>
                        </tr>
                        <tr>
                            <td>{{l('Booking Period')}}</td>
                            <td>{{l('From :')}}</td>
                            <td>
                                    <!-- <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle> 
                                    <mat-datepicker #picker></mat-datepicker>-->
                            </td>
                            <td>{{l('To :')}}</td>
                            <td>
                                        <!-- <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle> 
                                        <mat-datepicker #picker></mat-datepicker>-->
                            </td>
                        </tr>
                        <tr>
                                <td>{{l('Travel Period')}}</td>
                                <td>{{l('From :')}}</td>
                                <td>
                                        <!-- <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle> 
                                        <mat-datepicker #picker></mat-datepicker>-->
                                </td>
                                <td>{{l('To :')}}</td>
                                <td>
                                            <!-- <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle> 
                                            <mat-datepicker #picker></mat-datepicker>-->
                                </td>
                            </tr>
                            <tr>
                                <td>{{l('Restriction Note')}}</td>
                                <td colspan="4">
                                    <textarea matInput id="txaRestrictionNote" formControlName="restrictionNote" maxlength="50" placeholder="Promo Description" matTextareaAutosize matAutosizeMinRows="6"
                                    matAutosizeMaxRows="6"></textarea>
                                </td>
                            </tr>
                            <tr>
                                    <td>{{l('Restriction Alert')}}</td>
                                    <td colspan="4">
                                        <textarea matInput id="txaRestrictionAlert" formControlName="restrictionAlert" maxlength="50" placeholder="Promo Description" matTextareaAutosize matAutosizeMinRows="6"
                                        matAutosizeMaxRows="6"></textarea>
                                    </td>
                                </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>