<div class="user-info" style="background: #18283c;text-align: center;height:250px;border-bottom:0px;">
    <div class="image">
        <!-- <img src="/GBS-UI/assets/images/aalogo.png" width="150" height="150" alt="User" /> -->
        <img src="./assets/images/aalogo.png" width="150" height="150" alt="User" />
    </div>
        <!-- <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#FFF">{{shownLoginName}}</div>
        <div class="email" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#9a9a9a;">{{shownLoginName}}</div> -->
</div>
