<div class="menu" style="background:#18283c;">
    <ul class="list">
        <!--<div class="sidebar-category" style="text-transform: uppercase;padding: 15px 20px;font-weight: 600;display: block;font-size: 13px !important;color: #fff !important;">Email Address</div>
        <div class="sidebar-widget" style="padding: 15px 20px;margin-bottom: 20px!important;font-size: 12px !important;color: #fff !important;">test@test.com
            <!-- <ul class="list-unstyled pl-25 pr-25">
                <li class="mb-20">
                    <div class="block clearfix mb-10"><span class="pull-left fs-12 text-muted"></span>test@test.com
                    </div>
                </li>
            </ul> --
        </div>
        <div class="sidebar-category" style="text-transform: uppercase;padding: 15px 20px;font-weight: 600;display: block;font-size: 13px !important;color: #fff !important;">Contact Number</div>
        <div class="sidebar-widget" style="padding: 15px 20px;margin-bottom: 20px!important;font-size: 12px !important;color: #fff !important;">60179652571
            <!-- <ul class="list-unstyled pl-25 pr-25">
                <li class="mb-20">
                    <div class="block clearfix mb-10"><span class="pull-left fs-12 text-muted"></span>60179652571
                    </div>
                </li>
            </ul> --
        </div>
        <div class="sidebar-category" style="text-transform: uppercase;padding: 15px 20px;font-weight: 600;display: block;font-size: 13px !important;color: #fff !important;">Available Credit </div>
        <div class="sidebar-widget" style="padding: 15px 20px;margin-bottom: 20px!important;font-size: 12px !important;color: #fff !important;">198,100,745.40
            <!-- <ul class="list-unstyled pl-25 pr-25">
                <li class="mb-20">
                    <div class="block clearfix mb-10"><span class="pull-left fs-12 text-muted"></span>198,100,745.40
                    </div>
                </li>
            </ul> --
        </div>
        <div *ngFor="let r of groups | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalItems }">
            {{r}}
        </div>-->
    </ul>
</div>
