# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
.vs/
obj/
bin/
aspnet-core/src/Plexform.Web.Host/App_Data/Logs/
aspnet-core/src/Plexform.Web.Mvc/App_Data/Logs/

.svn/
angular/bin/
angular/node_modules/
angular/obj/
aspnet-core/.vs/
aspnet-core/src/Plexform.Application/bin/
aspnet-core/src/Plexform.Application/obj/
aspnet-core/src/Plexform.Core/bin/
aspnet-core/src/Plexform.Core/obj/
aspnet-core/src/Plexform.EntityFrameworkCore/bin/
aspnet-core/src/Plexform.EntityFrameworkCore/obj/
aspnet-core/src/Plexform.Migrator/bin/
aspnet-core/src/Plexform.Migrator/obj/
aspnet-core/src/Plexform.Web.Core/bin/
aspnet-core/src/Plexform.Web.Core/obj/
aspnet-core/src/Plexform.Web.Host/App_Data/
aspnet-core/src/Plexform.Web.Host/bin/
aspnet-core/src/Plexform.Web.Host/obj/
aspnet-core/test/Plexform.Tests/bin/
aspnet-core/test/Plexform.Tests/obj/
aspnet-core/src/Plexform.Logic/bin/
aspnet-core/src/Plexform.Logic/obj/
aspnet-core/packages/
aspnet-core/GBS/ABS.GBS/Plugins/
aspnet-core/GBS/ABS.GBS/Upload/
aspnet-core/GBS/ABS.GBS/XML/
aspnet-core/GBS/ABS.GBS/build/
aspnet-core/GBS/ABS.GBS/bin/
aspnet-core/GBS/ABS.GBS/obj/
aspnet-core/GBS/ABS.GBS/Log/
Publish/