<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LOPE.ProcMan.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Airbrake.ProjectId" value="144184" />
    <add key="Airbrake.ProjectKey" value="e13263c7568a2142e0ef46a3f9ead6d3" />
    <add key="Airbrake.Environment" value="Debug" />
    <add key="Airbrake.AppVersion" value="1.0.1" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
  </applicationSettings>
</configuration>