<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MiniProfiler" version="3.2.0.157" targetFramework="net40" />
  <package id="SEAL" version="3.0.0-preview2" targetFramework="net452" />
  <package id="SEAL.Data" version="3.0.0-preview2" targetFramework="net452" />
  <package id="System.ServiceModel.Http" version="4.4.1" targetFramework="net452" />
  <package id="System.ServiceModel.Primitives" version="4.4.1" targetFramework="net452" />
</packages>