<h3>SERIES SETTINGS</h3>
<div style="border-radius: 25px;padding: 20px;background:white;">
    <!-- ******************************************************** -->
    <dx-data-grid
    id="gridContainer"
    [rowAlternationEnabled]="true"
    [showColumnLines]="false"
    [showRowLines]="true"
    [showBorders]="false"
    [allowColumnResizing]="true"
    [hoverStateEnabled]="true"
    [columnResizingMode]="nextColumn"
    [columnAutoWidth]="true"
    [dataSource]="group">
    
      <dxo-search-panel 
        [visible]="true" 
        [width]="240" 
        placeholder="Search..."></dxo-search-panel>
  
      <dxi-column dataField="analyst" caption="Analyst"></dxi-column>
      <dxi-column dataField="marketCode" caption="Market"></dxi-column>
      <dxi-column dataField="ndoDesc" caption="NDO"></dxi-column>
      <dxi-column dataField="codeDesc" caption="Code"></dxi-column>
      <dxi-column dataField="inRoute" caption="In Route"></dxi-column>
      <dxi-column dataField="inFlightTimeGrp" caption="In Flight Time Group"></dxi-column>
      <dxi-column dataField="inDepDOW" caption="In DepDOW"></dxi-column>
      <dxi-column dataField="inAgentTier" caption="In Agent Tier"></dxi-column>
      <dxi-column dataField="inCurrency" caption="In Currency"></dxi-column>
      <dxi-column dataField="inLFFare1" caption="In LF<=85%"></dxi-column>
      <dxi-column dataField="inLFFare2" caption="In LF<=80%"></dxi-column>
      <dxi-column dataField="inLFFare3" caption="In LF<=70%"></dxi-column>
      <dxi-column dataField="inLFFare4" caption="In LF<=65%"></dxi-column>
      <dxi-column dataField="inLFFare5" caption="In LF<=60%"></dxi-column>
      <dxi-column dataField="inLFFare6" caption="In LF<=50%"></dxi-column>
      <dxi-column dataField="inLFFare7" caption="In LF<=40%"></dxi-column>
      <dxi-column dataField="inLFFare8" caption="In LF<=30%"></dxi-column>
      <dxi-column dataField="inLFFare9" caption="In LF<=20%"></dxi-column>
      <dxi-column dataField="inLFFare10" caption="In LF<=10%"></dxi-column>
      <dxi-column dataField="inLFFare11" caption="In LF<=5%"></dxi-column>
      <dxi-column dataField="outRoute" caption="Out Route"></dxi-column>
      <dxi-column dataField="outFlightTimeGrp" caption="Out Flight Time Group"></dxi-column>
      <dxi-column dataField="outDepDOW" caption="Out DepDOW"></dxi-column>
      <dxi-column dataField="outAgentTier" caption="Out Agent Tier"></dxi-column>
      <dxi-column dataField="outCurrency" caption="Out Currency"></dxi-column>
      <dxi-column dataField="outLFFare1" caption="Out LF<=85%"></dxi-column>
      <dxi-column dataField="outLFFare2" caption="Out LF<=80%"></dxi-column>
      <dxi-column dataField="outLFFare3" caption="Out LF<=70%"></dxi-column>
      <dxi-column dataField="outLFFare4" caption="Out LF<=65%"></dxi-column>
      <dxi-column dataField="outLFFare5" caption="Out LF<=60%"></dxi-column>
      <dxi-column dataField="outLFFare6" caption="Out LF<=50%"></dxi-column>
      <dxi-column dataField="outLFFare7" caption="Out LF<=40%"></dxi-column>
      <dxi-column dataField="outLFFare8" caption="Out LF<=30%"></dxi-column>
      <dxi-column dataField="outLFFare9" caption="Out LF<=20%"></dxi-column>
      <dxi-column dataField="outLFFare10" caption="Out LF<=10%"></dxi-column>
      <dxi-column dataField="outLFFare11" caption="Out LF<=5%"></dxi-column>

      <dxo-paging [pageSize]="20"></dxo-paging>
      <dxo-pager 
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[5, 10, 20]"
        [showInfo]="true">
      </dxo-pager>
    </dx-data-grid>
    <!-- ******************************************************** -->
    <br>
    <br>
    <span class="btn bg-pink waves-effect btn-file">
      Browse
      <input type="file" id="file" multiple="false" name="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
          (change)="onExcelChange($event)">
    </span>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th *ngFor="let head of excelToUploadHeader">
                    {{head}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of pendingRecv" [ngStyle]="row.hasError && {'background-color': '#FFEBEE'}">
                <td>{{row.marketCode}}</td>
                <td>{{row.analyst}}</td>
                <td>{{row.ndoDesc}}</td>
                <td>{{row.codeDesc}}</td>
                <td>{{row.inRoute}}</td>
                <td>{{row.inFlightTimeGrp}}</td>
                <td>{{row.inDepDOW}}</td>
                <td>{{row.inAgentTier}}</td>
                <td>{{row.inCurrency}}</td>
                <td>{{row.inLFFare1}}</td>
                <td>{{row.inLFFare2}}</td>
                <td>{{row.inLFFare3}}</td>
                <td>{{row.inLFFare4}}</td>
                <td>{{row.inLFFare5}}</td>
                <td>{{row.inLFFare6}}</td>
                <td>{{row.inLFFare7}}</td>
                <td>{{row.inLFFare8}}</td>
                <td>{{row.inLFFare9}}</td>
                <td>{{row.inLFFare10}}</td>
                <td>{{row.inLFFare11}}</td>
                <td>{{row.outRoute}}</td>
                <td>{{row.outFlightTimeGrp}}</td>
                <td>{{row.outDepDOW}}</td>
                <td>{{row.outAgentTier}}</td>
                <td>{{row.outCurrency}}</td>
                <td>{{row.outLFFare1}}</td>
                <td>{{row.outLFFare2}}</td>
                <td>{{row.outLFFare3}}</td>
                <td>{{row.outLFFare4}}</td>
                <td>{{row.outLFFare5}}</td>
                <td>{{row.outLFFare6}}</td>
                <td>{{row.outLFFare7}}</td>
                <td>{{row.outLFFare8}}</td>
                <td>{{row.outLFFare9}}</td>
                <td>{{row.outLFFare10}}</td>
                <td>{{row.outLFFare11}}</td>
                
            <!-- <td *ngFor="let val of row">
                    {{val}}
                </td> -->
            </tr>
        </tbody>
    </table>

    <button type="button" class="btn btn-success waves-effect" (click)="uploadFileToActivity()">
        <span>Upload</span>
    </button>
    <button type="button" class="btn btn-success waves-effect" (click)="clearExcelData()">
        <span>Clear</span>
    </button>
  <!-- <div id="events">
    <div>
        <div class="caption">
            Fired events
        </div>
        <dx-button id="clear" text="Clear" (onClick)="clearEvents()"></dx-button>
    </div>
    <ul>
        <li *ngFor="let event of events">{{event}}</li>
    </ul>
  </div> -->
</div>
