<h3>PU DISCOUNT SETTINGS</h3>
<div style="border-radius: 25px;padding: 20px;background:white;">
    <!-- ******************************************************** -->
    <dx-data-grid
    id="gridContainer"
    [rowAlternationEnabled]="true"
    [showColumnLines]="false"
    [showRowLines]="true"
    [showBorders]="false"
    [allowColumnResizing]="true"
    [hoverStateEnabled]="true"
    [columnResizingMode]="nextColumn"
    [columnAutoWidth]="true"
    [dataSource]="group">
    
      <dxo-search-panel 
        [visible]="true" 
        [width]="240" 
        placeholder="Search..."></dxo-search-panel>
  
      <dxi-column dataField="analyst" caption="Analyst"></dxi-column>
      <dxi-column dataField="marketCode" caption="Market"></dxi-column>
      <dxi-column dataField="ndoDesc" caption="NDO"></dxi-column>
      <dxi-column dataField="inRoute" caption="In Route"></dxi-column>
      <dxi-column dataField="inPUDisc1" caption="In PU<=5%"></dxi-column>
      <dxi-column dataField="inPUDisc2" caption="In 5%<PU<=10%"></dxi-column>
      <dxi-column dataField="inPUDisc3" caption="In 10%<PU<=15%"></dxi-column>
      <dxi-column dataField="inPUDisc4" caption="In 15%<PU<=20%"></dxi-column>
      <dxi-column dataField="inPUDisc5" caption="In 20%<PU<=25%"></dxi-column>
      <dxi-column dataField="inPUDisc6" caption="In 25%<PU<=30%"></dxi-column>
      <dxi-column dataField="inPUDisc7" caption="In 30%<PU<=40%"></dxi-column>
      <dxi-column dataField="inPUDisc8" caption="In 40%<PU<=50%"></dxi-column>
      <dxi-column dataField="inPUDisc9" caption="In 50%<PU<=60%"></dxi-column>
      <dxi-column dataField="inPUDisc10" caption="In 60%<PU<=70%"></dxi-column>
      <dxi-column dataField="inPUDisc11" caption="In PU>70%"></dxi-column>
      <dxi-column dataField="outRoute" caption="Out Route"></dxi-column>
      <dxi-column dataField="outPUDisc1" caption="Out PU<=5%"></dxi-column>
      <dxi-column dataField="outPUDisc2" caption="Out 5%<PU<=10%"></dxi-column>
      <dxi-column dataField="outPUDisc3" caption="Out 10%<PU<=15%"></dxi-column>
      <dxi-column dataField="outPUDisc4" caption="Out 15%<PU<=20%"></dxi-column>
      <dxi-column dataField="outPUDisc5" caption="Out 20%<PU<=25%"></dxi-column>
      <dxi-column dataField="outPUDisc6" caption="Out 25%<PU<=30%"></dxi-column>
      <dxi-column dataField="outPUDisc7" caption="Out 30%<PU<=40%"></dxi-column>
      <dxi-column dataField="outPUDisc8" caption="Out 40%<PU<=50%"></dxi-column>
      <dxi-column dataField="outPUDisc9" caption="Out 50%<PU<=60%"></dxi-column>
      <dxi-column dataField="outPUDisc10" caption="Out 60%<PU<=70%"></dxi-column>
      <dxi-column dataField="outPUDisc11" caption="Out PU>70%"></dxi-column>

      <dxo-paging [pageSize]="20"></dxo-paging>
      <dxo-pager 
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[5, 10, 20]"
        [showInfo]="true">
      </dxo-pager>
    </dx-data-grid>
    <!-- ******************************************************** -->
  <!-- <div id="events">
    <div>
        <div class="caption">
            Fired events
        </div>
        <dx-button id="clear" text="Clear" (onClick)="clearEvents()"></dx-button>
    </div>
    <ul>
        <li *ngFor="let event of events">{{event}}</li>
    </ul>
  </div> -->
</div>
