<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ABS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="ABS.GBSWS">
        <endpoint address="" binding="wsHttpBinding" contract="ABS.IGBSWS">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/ABS/GBSWS/"/>
          </baseAddresses>
        </host>
      </service>
      
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBookingManager">
          <security mode="Transport"/>
        </binding>
        <binding name="BasicHttpBinding_ISessionManager">
          <security mode="Transport"/>
        </binding>
        <binding name="BasicHttpBinding_IAgentManager" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="BasicHttpBinding_IAccountManager" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="BasicHttpBinding_IPersonManager" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="LookupWSSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="LookupWSSoap1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="BasicHttpBinding_IUtilitiesManager">
          <security mode="Transport"/>
        </binding>
        <binding name="basicHttpSessionService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="basicHttpsSessionService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="basicHttpLookupService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="20000000" maxReceivedMessageSize="20000000" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="basicHttpsLookupService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="20000000" maxReceivedMessageSize="20000000" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://testarms.airasia.com/aaws/lookupws.asmx" binding="basicHttpBinding" bindingConfiguration="LookupWSSoap" contract="AALookUpWS.LookupWSSoap" name="LookupWSSoap"/>
      <endpoint address="https://aktestr3xapi.navitaire.com/AccountManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountManager" contract="Navitaire.AccountManager.IAccountManager" name="BasicHttpBinding_IAccountManager"/>
      <endpoint address="https://aktestr3xapi.navitaire.com/AgentManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAgentManager" contract="Navitaire.AgentManager.IAgentManager" name="BasicHttpBinding_IAgentManager"/>
      <endpoint address="https://aktestr3xapi.navitaire.com/PersonManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPersonManager" contract="Navitaire.PersonManager.IPersonManager" name="BasicHttpBinding_IPersonManager"/>
      <endpoint address="http://win-vf2ibk72ko6/ACE/SessionService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpSessionService" contract="ACE.SessionManager.ISessionService" name="basicHttpSessionService"/>
      <endpoint address="https://stgace.airasia.com/ACE/SessionService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpsSessionService" contract="ACE.SessionManager.ISessionService" name="basicHttpsSessionService"/>
      <endpoint address="http://win-vf2ibk72ko6/ACE/LookupService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpLookupService" contract="ACE.LookUpManager.ILookupService" name="basicHttpLookupService"/>
      <endpoint address="https://stgace.airasia.com/ACE/LookupService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpsLookupService" contract="ACE.LookUpManager.ILookupService" name="basicHttpsLookupService"/>
      <endpoint address="https://aktest2r3xapi.navitaire.com/BookingManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBookingManager" contract="Navitaire.BookingManager.IBookingManager" name="BasicHttpBinding_IBookingManager"/>
      <endpoint address="https://aktest2r3xapi.navitaire.com/SessionManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISessionManager" contract="Navitaire.SessionManager.ISessionManager" name="BasicHttpBinding_ISessionManager"/>
      <endpoint address="https://aktestr3xapi.navitaire.com/UtilitiesManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUtilitiesManager" contract="Navitaire.UtilitiesManager.IUtilitiesManager" name="BasicHttpBinding_IUtilitiesManager"/>
    </client>
  </system.serviceModel>
  <userSettings>

    <ABS.Properties.Settings>
      <!--
      <setting name="AgentID" serializeAs="String">
        <value>ShOT&amp;^NTh90PnMy</value>
      </setting>
      <setting name="Token" serializeAs="String">
        <value>FnLh%^&amp;45!@DFPNm</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value>AIRASIAWEB_UAT</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>v4zteundyum9</value>
      </setting>
      <setting name="CultureCode" serializeAs="String">
        <value>en-GB</value>
      </setting>
      <setting name="Channel" serializeAs="String">
        <value>IBE</value>
      </setting>
      <setting name="GetAvailablePlan" serializeAs="String">
        <value>http://shirewebapi-dev.ap-southeast-1.elasticbeanstalk.com/api/GetAvailablePlan</value>
      </setting>-->
      <setting name="ACELookUp" serializeAs="String">
        <value>https://stgace.airasia.com/ACE/LookUpService.svc</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>gRpb@0kV4</value>
      </setting>
      
    </ABS.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
