<h3>FLIGHT TIME</h3>
<div style="border-radius: 25px;padding: 20px;background:white;">
    <!-- ******************************************************** -->
    <dx-data-grid
    id="gridContainer"
    [rowAlternationEnabled]="true"
    [showColumnLines]="false"
    [showRowLines]="true"
    [showBorders]="false"
    [allowColumnResizing]="true"
    [hoverStateEnabled]="true"
    [columnResizingMode]="nextColumn"
    [columnAutoWidth]="true"
    [dataSource]="group">
    
      <dxo-search-panel 
        [visible]="true" 
        [width]="240" 
        placeholder="Search..."></dxo-search-panel>
  
      <dxi-column dataField="ftGroupCode" caption="Group Time"></dxi-column>
      <dxi-column dataField="startTime" caption="Started Time"></dxi-column>
      <dxi-column dataField="endTime" caption="Ended Time"></dxi-column>
      <dxi-column dataField="createDate" caption="Created At"></dxi-column>
      <dxi-column dataField="updateDate" caption="Updated At"></dxi-column>
      <!-- <dxi-column dataField="lastSyncBy" caption="Last Sync By"></dxi-column>
      <dxi-column dataField="createBy" caption="Created By"></dxi-column>
      <dxi-column dataField="updateBy" caption="Updated By"></dxi-column> -->
      <dxi-column dataField="active" caption="Active"  cellTemplate="StatusCellTemplate"></dxi-column>

				<div *dxTemplate="let r of 'StatusCellTemplate'">
					<td>
            <p *ngIf="(r.value === 1)">Active</p>
            <p *ngIf="!(r.value === 1)">Inactive</p>
            <!-- <i class="material-icons" *ngIf="(r.value === 1)" style="color:green;">check_box</i>
            <i class="material-icons" *ngIf="!(r.value === 1)" style="color:red;">indeterminate_check_box</i> -->
          </td>
				</div>
      <dxo-paging [pageSize]="20"></dxo-paging>
      <dxo-pager 
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[5, 10, 20]"
        [showInfo]="true">
      </dxo-pager>
    </dx-data-grid>
    <!-- ******************************************************** -->
    <br>
    <br>
    <span class="btn bg-pink waves-effect btn-file">
      Browse
      <input type="file" id="file" multiple="false" name="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
          (change)="onExcelChange($event)">
  </span>
  <table class="table table-hover table-striped">
    <thead>
        <tr>
            <th *ngFor="let head of excelToUploadHeader">
                {{head}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of pendingRecv" [ngStyle]="row.hasError && {'background-color': '#FFEBEE'}">
          <td>{{row.ftGroupCode}}</td>
          <td>{{row.startTime}}</td>
          <td>{{row.endTime}}</td>
          <!-- <td *ngFor="let val of row">
                {{val}}
            </td> -->
        </tr>
    </tbody>
</table>

<button type="button" class="btn btn-success waves-effect" (click)="uploadFileToActivity()">
    <span>Upload</span>
</button>
<button type="button" class="btn btn-success waves-effect" (click)="clearExcelData()">
    <span>Clear</span>
</button>
<!-- <div id="events">
    <div>
        <div class="caption">
            Fired events
        </div>
        <dx-button id="clear" text="Clear" (onClick)="clearEvents()"></dx-button>
    </div>
    <ul>
        <li *ngFor="let event of events">{{event}}</li>
    </ul>
  </div> -->
</div>
