<h3>GB2, GB4 SETTINGS</h3>
<div style="border-radius: 25px;padding: 20px;background:white;">
    <!-- ******************************************************** -->
  <dx-data-grid
    id="gridContainer"    
    [rowAlternationEnabled]="true"
    [showColumnLines]="false"
    [showRowLines]="true"
    [showBorders]="false"
    [allowColumnResizing]="true"
    [hoverStateEnabled]="true"
    [columnResizingMode]="nextColumn"
    [columnAutoWidth]="true"
    [dataSource]="group"
    (onContentReady)="onContentReady($event)"
    (onCellPrepared)="onCellPrepared($event)"
    (onSelectionChanged)="selectionChanged($event)"
    (onEditorPreparing)="onEditorPreparing($event)"
    (onRowInserted)="logEvent($event)"
    (onRowUpdated)="logEvent($event)"
    (onRowRemoved)="logEvent($event)">

      <dxo-search-panel
        [visible]="true"
        [width]="240"
        placeholder="Search...">
      </dxo-search-panel>
      <dxo-editing
            mode="form"
            [allowUpdating]="true"
            [allowAdding]="true">
      </dxo-editing>

      <dxo-selection mode="multiple"></dxo-selection>
      <dxi-column dataField="orgName" caption="Organization Name" [setCellValue]="setAgentValue">
        <dxo-lookup
          [dataSource]="organisation"
          displayExpr="orgName"
          valueExpr="orgName">
        </dxo-lookup>
      </dxi-column>
      <dxi-column dataField="username" caption="User Name" [setCellValue]="setCountryValue">
        <dxo-lookup
          [dataSource]="agentEdit"
          displayExpr="username"
          valueExpr="">
        </dxo-lookup>
      </dxi-column>
      <dxi-column dataField="countryCode" caption="Country Code"></dxi-column>
      <dxi-column dataField="origin" caption="Origin">
        <dxo-lookup
          [dataSource]="originGB4"
          displayExpr="customState"
          valueExpr="departureStation">
        </dxo-lookup>
      </dxi-column>
      <dxi-column dataField="noofPax" caption="Min Pax"></dxi-column>
      <dxi-column dataField="status" caption="Status" editCellTemplate="editCellTemplate" cellTemplate="cellTemplate"></dxi-column>
      <dxi-column dataField="effectiveDate" caption="Effective Start Date" dataType="date"></dxi-column>
      <dxi-column dataField="expiryDate" caption="Effective End Date" dataType="date"></dxi-column>

      <div class="text-left" *dxTemplate="let data of 'editCellTemplate'">
          <input type="checkbox" id="status" [checked]="data.value === 1" style="left: 751px !important;" (change)="changeLabel($event)"/>
          <label for="status" *ngIf="(data.value === 1)">Active</label>
          <label for="status" *ngIf="!(data.value === 1)">Inactive</label>
      </div>
      <div *dxTemplate="let data of 'cellTemplate'">
          <input type="checkbox" [checked]="data.value === 1" left="0"/>
          <label *ngIf="(data.value === 1)">Active</label>
          <label *ngIf="!(data.value === 1)">Inactive</label>
      </div>
      <!-- <div class="text-left" *dxTemplate="let data of 'editCountry'">
          <dx-text-box [readOnly]="true" [hoverStateEnabled]="false" [(value)]="countryCodes"></dx-text-box>
      </div> -->

      <dxo-paging [pageSize]="20"></dxo-paging>
      <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[5, 10, 20]"
        [showInfo]="true">
      </dxo-pager>
    </dx-data-grid>
    <dx-button id="gridDeleteSelected"
      text="Delete Selected Records"
      [height]="34"
      [type]="danger"
      (onClick)="deleteRecords()">
    </dx-button>
    <!-- ******************************************************** -->
  <!-- <div id="events">
    <div>
        <div class="caption">
            Fired events
        </div>
        <dx-button id="clear" text="Clear" (onClick)="clearEvents()"></dx-button>
    </div>
    <ul>
        <li *ngFor="let event of events">{{event}}</li>
    </ul>
  </div> -->
</div>